
<section class="src-components-formulario">
  <div class="jumbotron">

    <h2> Formulario Notas</h2>

    <hr>
    <br>

    <vue-form :state="formState" @submit.prevent="enviar()">

      <!--NOMBRE-->
      <validate tag="div"> 
        <label for="nombre">Nombre</label>
          <input 
            type="text"
            id="nombre"
            name="nombre"
            class="form-control"
            autocomplete="off"
            v-model.trim = "formData.nombre"
            required
            :minlength="stringLengthMin"  
            :maxlength="stringLengthMax"
            espacios-vacios
          >    
          <field-messages name="nombre" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">
              Campo requerido</div>
            <div slot="espacios-vacios" class="alert alert-danger mt-1">
              No se permiten espacios intermedios en este campo
            </div>
            <div slot="minlength" class="alert alert-danger mt-1">
              Requiere al menos {{ stringLengthMin }} caracteres</div>
            <div v-if="formData.nombre.length == stringLengthMax" class="alert alert-warning mt-1">
              Maximo {{nombreLengthMax}} caracteres</div>
          </field-messages>
      </validate>
      <br>

       <!--APELLIDO-->
       <validate tag="div"> 
        <label for="apellido">Apellido</label>
          <input 
            type="text"
            id="apellido"
            name="apellido"
            class="form-control"
            autocomplete="off"
            v-model.trim = "formData.apellido"
            required
            :minlength="stringLengthMin"  
            :maxlength="stringLengthMax"
            espacios-vacios
          >    
          <field-messages name="apellido" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">
              Campo requerido</div>
            <div slot="espacios-vacios" class="alert alert-danger mt-1">
              No se permiten espacios intermedios en este campo
            </div>
            <div slot="minlength" class="alert alert-danger mt-1">
              Requiere al menos {{ stringLengthMin }} caracteres</div>
            <div v-if="formData.apellido.length == stringLengthMax" class="alert alert-warning mt-1">
              Maximo {{nombreLengthMax}} caracteres</div>
          </field-messages>
      </validate>
      <br>

      <!--NOTA-->
      <validate tag="div"> 
        <label for="nota">Nota</label>
          <input 
            type="number"
            id="nota"
            name="nota"
            class="form-control"
            autocomplete="off"
            v-model.number = "formData.nota" 
            required   
            min="0"
            max="10"          
          >        
          <field-messages name="nota" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
            <div slot="min" class="alert alert-danger mt-1">La nota debe ser mayor o igual a 0</div>
            <div slot="max" class="alert alert-danger mt-1">La nota debe ser menor o igual a 10</div>
          </field-messages>
      </validate>

      <br>
      <hr>

      <button class="btn btn-succeds my-3" :disabled="formState.$invalid" type="submit"> Enviar </button>
    </vue-form>

    <hr>
    <div v-if="listaNotas.length <= 0"> No se encontraron notas </div>

    <table v-if="listaNotas.length > 0" class="table container-sm mt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre y apellido</th>
          <th scope="col">Nota</th>         
        </tr>
      </thead>
    
      <tbody>
        
        <tr v-for="(alumno, i) in listaNotas">
          <th scope="row">{{i + 1}}</th>
          <td>{{alumno.nombre}} {{alumno.apellido}}</td>
          <td :class="{notaRoja: alumno.nota <=3, notaVerde: alumno.nota >= 4 && registro.nota <= 6 , notaAmarilla: alumno.nota>=6}">{{alumno.nota}}</td>
        </tr>

        <tr>
          <td>Promedio total:</td>
          <td></td>
          <td :class="{notaRoja: alumno.nota <=3, notaVerde: alumno.nota >= 4 && registro.nota <= 6 , notaAmarilla: alumno.nota>=6}" > {{ promedio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

